* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #f2f2f2;
    height: 100dvh;
    width: 100%;
}

.form-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2px;
    overflow: hidden;
}

.form-div {
    width: 90%;
    height: 601px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #c0c0c0;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);

}

.reporte-container {
    background-color: #fff;
    height: 85%;
    width: 100%;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.form-group>div {
    width: 100%;
    height: 500px;
    display: flex;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-group>div>div {
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding-inline: 10px;

}

.form-group>div>div>label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 800;
}

.form-group>div>div>input,
#fecha>input, textarea {
    font-size: 17px;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    padding: 8px 5px;
    margin-top: 10px;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    color: dimgray;
}

input::-webkit-inner-spin-button,
.input-sin-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.botonera {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    width: 100%;
    height: 15%;
}

.btn-reporte {
    width: calc(100% / 7);
    height: 45px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    background-color: #fff;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 5px;

}

.btn-reporte:hover {
    text-decoration: underline;
}

.btn-reporte img {
    width: 40px;
    height: 35px;
}

.btn-reporte div {
    display: grid;
    place-items: center;

}

#fecha {
    display: flex;
    justify-content: end;
    padding: 5px 20px;
}

.form-btn{
    height: 40px;
    width: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 20px;
    margin-right: 150px;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 2px;
    border: 0 !important;
    outline: 0 !important;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    font-size: 17px;
}

#btn-cancelar {
    background: #dd0000e6;
    margin-right: 20px;
}

.form {
    height: 100%;
    width: 100%;
    position: relative;
}


textarea {
    width: 100%;
    height: 100%;
    resize: none;
}






















/* .botonera {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: start;
    width: 100%;
    height: 80px;
    border-radius: 10px;
}

.botonera button {
    width: auto;
    height: 50px;
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px 10px 0 0;    
    background-color: #fff;

}

.botonera button:hover {
    background-color: rgb(14, 230, 32);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

.form-container {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 2px;
    overflow: scroll;
}

.reporte-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.reporte-container form {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-bottom: 20px;
}

.title {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 10px 0 30px 0;
    font-size: 28px;
    font-weight: 800;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 15px;
}

.input1 {
    border-radius: 20px;
    border: 1px solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
}

.form-btn {
    padding: 10px 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-btn:active {
    box-shadow: none;
}

label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 800;
}

#fecha {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    border: 1px solid rgb(45, 228, 21);
}

#hechosExtraordinarios {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(14, 83, 187);
}

.form-group #reporte_hechosExtraordinarios {
    width: 100%;
    border: 1px solid rgb(14, 83, 187);
}

#reporte_hechosExtraordinarios .input > div {
    width: auto;
    height: 50px;
    border: 1px solid red;
}
#reporte_hechosExtraordinarios .input > div {
    background-color: #f9f9f9; /* Color de fondo 
    padding: 10px; /* Espaciado interno 
    margin: 5px 0; /* Margen superior e inferior 
    border: 1px solid #ccc; /* Borde 
    border-radius: 5px; /* Bordes redondeados */
/*}
#produccionHuevos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 
*/